<div class="custom-title">
<h1><%= @company.name %>
<%= @store.name %>
</h1>
</div>

<div class="d-flex">
<div>
<h2><%= @store.catch_copy %></h2>
<h3><%= @store.introduction %></h3>
</div>

<div class="side-right">
<img src="<%= @store.logo_url %>" alt="店舗Image">
</div>


</div>

<div class="row">

    <div class="col-md-6">
        <div class="store-score">
            <div>total score <%=@score_total%></div>
            <div>score contract<%=@score_contract%></div>
            <div>score store<%=@score_store%></div>
            <div>score speed<%=@score_speed%></div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="store-detail">
            <div><%= @store.name %>について</div>
            <div>企業名：<%= @store.company.name %></div>
            <div>郵便番号：<%= @store.post_code %></div>
            <div>住所：<%= @store.city.prefecture.name %> <%= @store.city.name %> <%=@store.address%></div>
            <div>電話番号：<%= @store.phone_number %></div>
            <div>FAX：<%= @store.fax_number %></div>
            <div>営業時間：<%= @store.open_time %></div>
            <div>定休日：<%= @store.holiday %></div>
        </div>
    </div>

</div>


<h4><%=@store.name%>で売却した人の口コミ （平均評価<%=@score_total%>）</h4>
<% @public_reviews.each do |review|%>

<a class="store-card" href="/reviews/<%=review.id%>">
    <div class="card" style="width: 80rem;">
    <div class="card-body">
        <h5 class="card-title"><%= review.headline %></h5>
        <h6 class="card-subtitle mb-2 text-muted"> 対応満足度：<%= review.score_contract %></h6>
        <p class="card-text"><%= review.reason_score%></p>
        <h6 class="card-subtitle mb-2 text-muted">
        成約価格<%= review.price_contract%> 
        (<%=review.date_handover.strftime("%Y年 %m月")%>に引き渡し)
        </h6>

    </div>
    </div>
</a>
<% end %>