<h1>企業ページ</h1>
<div><%= @company.name %></div>
<div><%= @store.name %></div>
<div><%= @store.catch_copy %></div>
<div><%= @store.introduction %></div>
<img src="<%= @store.logo_url %>" alt="店舗Image">

<div><%= @store.name %></div>
<div><%= @store.name %></div>