<% breadcrumb :review_show, @review %>

<div class="d-flex justify-content-center">
<h1><%= @review.headline %></h1>
</div>

  <div class=" f-review-page">
  <div class="card-body">
    <div class="card-text">売却した不動産会社名 : <%= !@store.name.nil? ? @store.name : @store.company.name %></div>
    <div class="card-text">住所 :  <%= @detail_review.city.prefecture.name %><%= @detail_review.city.name %></div>
    <div class="card-text">売却の理由 :  <%= @reason_sale.name %></div>
    <div class="card-text">売却経験 :  <%= @num_sale.name %></div>
  </div>

    <%if !@review.anxiety.blank?%>
 <div class="card-body">
    <h4 class="card-title">売却時に不安だったこと</h4>
    <div class="card-text"><%= @review.anxiety %></div>
    <%end%>

  <%if !@review.reason_decision.blank?%>
  <div class="card-body">
    <h4 class="card-title">この会社に決めた決め手</h4>
    <div class="card-text"><%= @review.reason_decision %></div>
  </div>
  <%end%>

  <%if !@review.reason_score.blank?%>
  <div class="card-body">
    <h4 class="card-title">不動産会社の対応満足度: ★<%= @review.score_store %></h4>
    <div class="card-text"><%= @review.reason_score %></div>
  </div>
<%end%>

  <%if !@review.advice.blank?%>
  <div class="card-body">
    <h4 class="card-title">今後売却するひとへのアドバイス</h4>
    <div class="card-text"><%= @review.advice %></div>
  </div>
  <%end%>

<%if !@review.improvement.blank?%>
  <div class="card-body">
    <h4 class="card-title">不動産会社に改善してほしい点</h4>
    <div class="card-text"><%= @review.improvement %></div>
  </div>
  <% end %>


  <div class="card-body">
    <h4 class="card-title">売却時期と価格について</h4>
    <div class="card-text">
<table>
  <tr>
    <td>売却検討</td>
    <td><%= @review.date_considered.strftime("%Y年%m月") %></td>
    <td>-</td>
  </tr>
  <tr>
    <td>査定依頼時期/価格</td>
    <td><%= @review.date_assessment.strftime("%Y年%m月") %></td>
    <td><%= @review.price_assessment/10000 %>万円</td>
  </tr>
  <tr>
    <td>売出時期/価格</td>
    <td><%= @review.start_sale.strftime("%Y年%m月") %></td>
    <td><%= @review.price_sale/10000 %>万円</td>
  </tr>
  <tr>
    <td>売却時期/価格</td>
    <td><%= @review.end_sale.strftime("%Y年%m月") %></td>
    <td><%= @review.price_contract/10000 %>万円</td>
  </tr>
  <tr>
    <td>引き渡し時期</td>
    <td><%= @review.date_handover.strftime("%Y年%m月") %></td>
    <td>-</td>
  </tr>
</table>
    </div>
  </div>

    <div class="card-body">
    <div class="card-text">企業名 : <%= @company.name %></div>
    <div class="card-text">郵便番号 :  <%= @store.post_code %></div>
    <div class="card-text">住所 :  <%= @detail_review.city.prefecture.name %><%= @detail_review.city.name %><%= @detail_review.store.address %></div>
    <div class="card-text">電話番号 :  <%= @store.phone_number %></div>
    <div class="card-text">FAX :  <%= @store.fax_number %></div>
    <div class="card-text">営業時間 :  <%= @store.open_time %></div>
    <div class="card-text">定休日 :  <%= @store.holiday %></div>
  </div>
    </div>
