<div class="d-flex align-items-center justify-content-center">
  <div class="col-md-6 col-md-offset-3 custom-margin-top">
    <%= form_with(model: @form, url: assessment_forms_url, local: true) do |f| %>

        <%=f.label :user_name, "お名前" %>
        <%=f.text_field :user_name, class: 'form-control'%>

        <%=f.label :user_name_kana, "ふりがな" %>
        <%=f.text_field :user_name_kana, class: 'form-control'%>
        
        <%=f.label :phome_number, "電話番号" %>
        <%=f.telephone_field :user_tel, class: 'form-control'%>

        <%=f.label :user_email, "メールアドレス" %>
        <%=f.email_field :user_email, class: 'form-control'%>

        <%=f.label :branch_id, "査定依頼店舗名" %>
        <%=f.text_field :branch_id, class: 'form-control'%>

        <%=f.label :property_prefecture, "物件の所在" %>
        <%=f.text_field :property_prefecture,placeholder:"都道府県", class: 'form-control'%>

        <%=f.text_field :property_city,placeholder:"市区", class: 'form-control'%>

        <%=f.text_field :property_address,placeholder:"市区以下の住所", class: 'form-control'%>

        <%=f.label :property_type, "物件種別"%>
        <%=f.collection_select(:property_type, Property.all, :id, :name, {},{class:"form-control"}) %>

        <%=f.label :property_building_area_unit, "建物面積単位"%>
        <%=f.collection_select(:property_building_area_unit, BuildingAreaUnit.all, :id, :name, {},{class:"form-control"}) %>

        <%=f.label :property_exclusive_area, "専有面積"%>
        <%=f.text_field :property_exclusive_area,placeholder: "選択した面積単位で入力してください" , class: 'form-control'%>

        <%=f.label :property_land_area, "土地面積" %>
        <%=f.text_field :property_land_area,placeholder: "選択した面積単位で入力してください", class: 'form-control'%>

        <%=f.label :property_building_area, "建物面積" %>
        <%=f.text_field :property_building_area,placeholder: "選択した面積単位で入力してください", class: 'form-control'%>

        <%=f.label :property_floor_area, "延床面積" %>
        <%=f.text_field :property_floor_area,placeholder: "選択した面積単位で入力してください", class: 'form-control'%>

        <%=f.hidden_field :url_param, value: "beteran-sumai", class: 'form-control'%>

        <%=f.label :property_room_plan, "間取り"%>
        <%=f.collection_select(:property_room_plan, PropertyRoomPlan.all, :id, :name, {},{class:"form-control"}) %>

        <%=f.label :property_constructed_year, "築年数" %>
        <%=f.number_field :property_constructed_year, class: 'form-control'%>

        <div class="col-md-6 custom-margin-top">
          <%= f.submit "査定依頼する", class: "btn btn-primary form-control " %>
        </div>

    <% end %>

  </div>
</div>